<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3d3d3d; box-shadow: 1px 1px rgb(206, 206, 206);">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/calendar.png" alt="" width="40" height="35" class="d-inline-block align-text-top">
      <font style="font-family: monospace;">ES-Events</font>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/events">Etkinlikler</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/upcomingevents">Yaklaşan Etkinlikler</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/addevent" >Yeni Etkinlik Planla</a>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!--<li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form *ngIf="isLogged == false" class="d-flex">
        <a class="btn btn-outline-info" style="margin-right: 3px;" routerLink="/login">Giriş Yap</a>
        <a class="btn btn-outline-warning" routerLink="/register">Kayıt Ol</a>
      </form>
      <div *ngIf="isLogged == undefined"  style="text-align: center; width: 100px; font-size: 25px;"><i class="fa fa-spinner fa-spin" aria-hidden="true" style="color: white;"></i></div>
      <form *ngIf="isLogged" class="d-flex">
        <!--<i style="color:white; position: relative; top:5px; right: 5px;" class="fa fa-user"></i>
        <font color="white"><b>{{userFullname}}</b></font> -->
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="min-width: 140px;">
            <i class="fa fa-user"></i> {{userFullname}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="min-width: 9rem; margin-top: 0.400rem;">
            <li><button routerLink="/profile" class="dropdown-item" type="button">Profilim</button></li>
            <li><button routerLink="/events/myevents" class="dropdown-item" type="button">Etkinliklerim</button></li>
            <li><button routerLink="/myinvitations" class="dropdown-item" type="button">Gelen Davetler</button></li>
            <li><button (click)="logout()" class="dropdown-item" type="button">Çıkış</button></li>

          </ul>
        </div>

      </form>
    </div>
  </div>
</nav>
