
  <footer class="bg-dark text-center text-white">
    <!--<div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-linkedin"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-github"></i
        ></a>
      </section>
    </div> -->
    <div class="text-center p-3" style="background-color: black;">
      © {{currentYear}} |
      <a class="text-white">ES-Events Etkinlik Yönetim Projesi</a>
    </div>
  </footer>


