<div style="text-align: center;">
<div style="display: inline-block;">
  <h5><i class="fa fa-unlock"></i> Şifre Değiştir</h5>
  <hr>
  <div style="box-shadow: 1px 1px 7px grey; box-sizing: border-box; padding: 10px;">
<form [formGroup]="changePasswordForm">
  <div class="form-group" style="padding: 5px;">
    <label for="oldPassword">Şifreniz</label>
    <input type="password" formControlName="oldPassword"  class="form-control" id="oldPassword" aria-describedby="oldPassword" placeholder="Şifreniz">
    <small id="oldPassword" class="form-text text-muted">Bu alana şu anda kullandığınız şifrenizi girin.</small>
  </div>
  <div class="form-group" style="padding: 5px;">
    <label for="newPassword">Yeni Şifre</label>
    <input type="password" formControlName="newPassword" class="form-control" id="newPassword" placeholder="Yeni şifreniz">
  </div>
  <div class="form-group" style="padding: 5px;">
    <label for="confirmPassword">Yeni Şifre (Tekrar)</label>
    <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Yeni şifreniz">
  </div>
  <div style="padding: 5px;"><button type="submit" (click)="changePassword()" class="btn btn-primary">Şifreyi Değiştir</button></div>

</form>
</div>
</div></div>
